{% extends "auctions/layout.html" %}
{% load prepend_dollars %}
{% load add_watchlist %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>{{ listing.title }}</h1>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ listing.image_url }}" class="img-fluid img-thumbnail" />
                    <br />
                    <div>

                        <btn class="btn btn-primary" id="addToWatchlist" value="{{ listing.id }}">Add to Watchlist</btn>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border-bottom mb-2">
                        <h3>Description</h3>
                    </div>
                    <p class="lead">{{ listing.description }}</p>
                    <p><strong>Starting Bid: {{ listing.starting_bid|prepend_dollars }}</strong></p>
                    <p><strong>Auctions Ends: {{ listing.end_date }}</strong></p>
                    <p><strong>{{ listing.seller }}</strong></p>
                    <br />
                    <div class=" border-bottom mb-2">
                        {% if bids %}
                        {% for bid in bids %}
                        <h3>Bid History</h3>
                        <p>{{ bid.user }}: {{ bid.amount|prepend_dollars }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="m-2">
                        {% if comments %}
                        <h3>Comments</h3>
                        {% for comment in comments %}
                        <div class="card m-2">
                            <div class="card-body">
                                <h5 class="card-title">{{ comment.user }} said:</h5>
                                <p class="card-text">{{ comment.text }}</p>
                                <p class="card-text"><small class="text-muted">{{ comment.created }}</small></p>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

        {% endblock body %}
        {% block scripts %}
        <script>
        const addToWatchlist = document.getElementById('addToWatchlist');
        addToWatchlist.addEventListener('click', function () {
              fetch('{% url "add_to_watchlist" %}', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                body: JSON.stringify({
                  listing_id: '{{ listing.id }}',
                  user: '{{ user }}',
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                })
              }).then(r => r.json().then(data => (
                  {status: r.status, body: data})
                  )).then(data => {
                    if (data.status === 200) {
                      addToWatchlist.innerHTML = 'Added to Watchlist';
                      addToWatchlist.classList.add('btn-success');
                      addToWatchlist.classList.remove('btn-primary');
                    }
                  })
              .catch(error => console.error(error));
              });
        </script>
        {% endblock scripts %}